*{
    box-sizing: border-box;
    margin: 0;
    font-family: "Roboto", serif;
}

.leaflet-control-zoom-in{
    display: none;
}
.leaflet-left{
    display: none;
}
.leaflet-bottom{
    display: none;
}

.custom-toast-container{
    z-index: 99999;
}

