@import "../../assets/variables";

.viewUser {
    margin: 0 auto;
    padding: $spacing-xxl;
    background-color: $cream-white;
    width: 100%;


    @media (max-width: 768px) {
      padding: $spacing-md;
    }
}
